venv/
.venv/
__pycache__/
*.pyc
*.pyo
.env
.vscode/
.DS_Store
logic/app_config.json
logic/data/custom
research/dataset
build
dist
main.spec

chatbot_test
chatbot_test/.venv
chatbot_test/chroma_db
chatbot_test/*

logic/chatbot/chroma_db/
logic/chatbot/models/
.python-version
install-pyenv-win.ps1
