venv/
.venv/
__pycache__/
*.pyc
*.pyo
.env
.vscode/
.DS_Store
logic/app_config.json
logic/data/custom
research/dataset
build
dist
main.spec

logic/chatbot/chroma_db/
logic/chatbot/models/
.python-version
install-pyenv-win.ps1

assets/train_model_guide/_originals/
